.itemCard{
    display: flex;
    padding: 10px;
    margin: 15px;
    flex-direction: column;
    text-align: center;
    width: 250px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.detailButton{
    color: rgb(248, 232, 215);
    padding: 6px;
    border: solid black 3px;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #9B1B01;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1, 1,);
    transition: transform 0.2s;
}
.detailButton:hover{
    transform: scale(1.1,1.1);
    color: #630B0A;
    background-color: #DA8F34;
}