.footerContainer {
    display: flex;
    flex-direction: row;
    position: bottom;
    justify-content: space-between;
    width: 100%;
    background-color: #DA8F34;
    height: fit-content;
    box-shadow: black 3px 3px 10px;
    margin-top: 10px;
}
.imgFooter {
    display: flex;
    align-self: center;
    width: 60px;
}
.internalTextFooter {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
    color: rgb(193, 100, 50);
}
.subDivFooter {
    border-right: 3px double;
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: rgb(193, 100, 50);;
    width: 100%;
}
.internalTextFooter:first-of-type{
    border-left: 3px double;
}